* {
  box-sizing: border-box;
}
.page-home {
  width: 100%;
  .nav {
    padding: 10px;
    width: 100%;
    overflow: hidden;
    .item {
      width: 100%;
      padding: 10px;
      border: 1px solid #999;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
}
