.page-essay {
  height: 100%;
  .list-item {
    padding: 5px 16px;
    width: 100%;
    .main {
      padding: 10px;
      border: 1px solid #999;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
}
