$colorMain: #01cb88;
$colorAux: #ffb62d;
$colorBg: #f5f5f5;
$br: 20px;

.nut-cell {
  display: block !important;
  border-bottom: 1px solid #f5f5f5;
  .nut-form-item__label {
    text-align: left !important;
    margin-bottom: 5px !important;
  }
}

.page-c {
  background-color: $colorBg;
  min-height: 100vh;
}
.all-search {
  padding: 20px 0;
  .nut-input {
    height: 38px;
    border-radius: 100px;
    overflow: hidden;
    input {
      color: #808080 !important;
    }
  }
}

.page-home {
  padding: 0 0 200px 0;
  .page-home-header {
    position: relative;
    padding: 20px 10px 20px 10px;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 450px;
      width: 100%;
      background-image: linear-gradient(
        295deg,
        hsl(160deg 99% 40%) 0%,
        hsl(141deg 62% 55%) 17%,
        hsl(116deg 62% 63%) 33%,
        hsl(93deg 70% 60%) 50%,
        hsl(77deg 77% 57%) 67%,
        hsl(77deg 77% 57%) 83%,
        hsl(77deg 77% 57%) 100%
      );
    }
  }

  .page-home-banner {
    width: 100%;
    overflow: hidden;
    border-radius: $br;
    margin-bottom: 20px;
    image {
      display: inline-block;
      width: 100%;
    }
  }
  .page-home-news {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: $br;
  }
  .catgory-main {
    display: flex;
    .catgory-item {
      width: 20%;
      text-align: center;
    }
  }
}
