$colorMain: #01cb88;
$colorAux: #ffb62d;
$colorBg: #f5f5f5;
$br: 20px;

.nut-cell {
  display: flex !important;
  border-bottom: 1px solid #f5f5f5;
  .nut-form-item__label {
    text-align: left !important;
    margin-bottom: 5px !important;
  }
}
.nut-form-item {
  display: block !important;
}
.nut-icon {
  line-height: 1 !important;
  display: flex !important;
}
.nut-collapse-item__header {
  padding-left: 0 !important;
}
.nut-collapse-item__content-text {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.comp-form {
  .nut-radiogroup {
    background-color: #f5f5f5 !important;
    overflow: hidden;
    border-radius: 5px;
    padding: 4px;
    max-height: 80vmin;
    overflow-y: auto;
  }
  .nut-input {
    background-color: #f5f5f5 !important;
    overflow: hidden;
    border-radius: 5px;
  }
}
.nut-button__warp {
  .h5-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/////
.all-comp-tabbar {
  width: 100%;
  z-index: 1000;
  position: relative;
}

.border-b2 {
  border-bottom: 2px solid #f5f5f5;
}
.border-comp {
  border: 2px solid #f5f5f5;
}

.textarea-my {
  border: 3px solid #f5f5f5;
}
.nut-textarea {
  background: #f5f5f5 !important;
}

.safe-area {
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
}
.button-add {
  background: rgb(255, 147, 74);
  background: linear-gradient(135deg, rgba(255, 147, 74, 1) 0%, rgba(255, 122, 71, 1) 35%, rgba(253, 22, 66, 1) 100%);
}
.border-com {
  border: 4px solid #f5f5f5;
}

.page-c {
  background-color: $colorBg;
  min-height: 100vh;
  padding-bottom: 200px;
}

.all-search {
  padding: 2vmin;
  width: 100%;
  .nut-input {
    border: 2px solid #f5f5f5;
    border-radius: 100px;
  }
  .nut-searchbar {
    height: 11vmin;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #f5f5f5;
    width: 100%;
    opacity: 1;
    .nut-searchbar__content {
      background-color: #fff;
    }
    input {
      color: #808080 !important;
    }
  }
}

.page-list {
  background-color: $colorBg;
  min-height: 100vh;
  .page-list-search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vmin;
  }
  .page-list-body {
    height: 100vh;
    .nut-infiniteloading {
      // padding-bottom: 10vmin;
    }
    .page-list-main {
      padding: 15vmin 3vmin 10vmin 3vmin;
    }
  }
}

.title-comp-main {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.navtion-image {
  height: 100px;
  width: 100px;
  line-height: 100px;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #ccb99b;
  text-align: center;
  border-radius: 100px;
}

.page-category {
  background-color: $colorBg;
  min-height: 100vh;
  .nut-tabpane {
    padding: 0 0 60px 0;
  }
  .nut-tabs__titles--scrollable {
    padding-bottom: 60px !important;
  }
}

.page-home {
  padding: 0 0 200px 0;
  .page-home-header {
    position: relative;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      background: rgb(234, 255, 246);
      background: linear-gradient(
        135deg,
        rgba(234, 255, 246, 1) 0%,
        rgba(247, 230, 223, 1) 35%,
        rgba(210, 218, 255, 1) 100%
      );
    }
  }

  .page-home-banner {
    width: 100%;
    overflow: hidden;
    border-radius: $br;
  }
  .page-home-news {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: $br;
  }
  .catgory-main {
    display: flex;
    .catgory-item {
      width: 20%;
      text-align: center;
    }
  }
}

.comp-form {
  .comp-form-item {
    background-color: #fff;
    border-bottom: 2px solid #f5f5f5;
    padding: 20px 5px 5px 5px;
    .comp-form-item-label {
      margin-bottom: 10px;
      display: flex;
    }
    .comp-form-item-input {
      background-color: #f5f5f5;
      overflow: hidden;
      border-radius: 5px;
      padding: 10px 40px;
      height: 80px;
      display: flex;
      align-items: center;
      font-size: 26px;
      color: #80808f;
    }
    .comp-form-item-upload {
      background-color: #f5f5f5;
      overflow: hidden;
      border-radius: 5px;
      padding: 10px 40px;
      display: flex;
      align-items: center;
      font-size: 26px;
      color: #80808f;
    }
  }
}
